@model SportApp.Models.Gym

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-horizontal">
        <h4>Gym</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GymName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GymName" class="form-control" />
                <span asp-validation-for="GymName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GymRate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GymRate" class="form-control" />
                <span asp-validation-for="GymRate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GymLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GymLocation" class="form-control" />
                <span asp-validation-for="GymLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GoogleLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GoogleLocation" class="form-control" />
                <span asp-validation-for="GoogleLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MbrshipPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MbrshipPrice" class="form-control" />
                <span asp-validation-for="MbrshipPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GymArea" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GymArea" class="form-control" />
                <span asp-validation-for="GymArea" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FoundYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FoundYear" class="form-control" />
                <span asp-validation-for="FoundYear" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Facilities" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Facilities" class="form-control" />
                <span asp-validation-for="Facilities" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Latitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Longitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GymImgUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p><input type="file" name="pic"></p>  
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
