@{Layout = null; }

@{
    ViewData["Title"] = "Search";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <script src="~/js/Site.js"></script>
</head>
<body>
<h2>Search</h2>

</body>
</html>